
@{
    ViewBag.Title = "Historial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <h4 class="center-align">Historial</h4>
        <h6 class="center-align">Colegio Buen Samaritano</h6>
        <p class="center-align">Historial de calificaciones del Año 2018</p>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-image">
                    <a class="btn-floating halfway-fab waves-effect waves-light blue center-align">1</a>
                </div>
                <div class="card-content">
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Materia</th>
                                <th>Acumulado </th>
                                <th>Examen</th>
                                <th>Nota Final</th>
                                <th>Descripcion</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th>CCN-01</th>
                                <th>Ciencias Naturales</th>
                                <th>40</th>
                                <th>40</th>
                                <th>80</th>
                                <th class="blue-text"><i class="material-icons">done</i></th>
                            </tr>
                            <tr>
                                <th>MTM-01</th>
                                <th>Matemáticas</th>
                                <th>40</th>
                                <th>10</th>
                                <th>50</th>
                                <th class="red-text"><i class="material-icons">remove_circle</i></th>
                            </tr>
                            <tr>
                                <th>ECF-01</th>
                                <th>Educación Fisica</th>
                                <th>40</th>
                                <th>60</th>
                                <th>100</th>
                                <th class="blue-text"><i class="material-icons">done</i></th>
                            </tr>
                            <tr>
                                <th>HTN-01</th>
                                <th>Historia de Nicaragua</th>
                                <th>35</th>
                                <th>40</th>
                                <th>75</th>
                                <th class="blue-text"><i class="material-icons">done</i></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-image">
                    <a class="btn-floating halfway-fab waves-effect waves-light blue center-align">2</a>
                </div>
                <div class="card-content">
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Materia</th>
                                <th>Acumulado </th>
                                <th>Examen</th>
                                <th>Nota Final</th>
                                <th>Descripcion</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th>CCN-01</th>
                                <th>Ciencias Naturales</th>
                                <th>40</th>
                                <th>40</th>
                                <th>80</th>
                                <th class="blue-text"><i class="material-icons">done</i></th>
                            </tr>
                            <tr>
                                <th>MTM-01</th>
                                <th>Matemáticas</th>
                                <th>40</th>
                                <th>10</th>
                                <th>50</th>
                                <th class="red-text"><i class="material-icons">remove_circle</i></th>
                            </tr>
                            <tr>
                                <th>ECF-01</th>
                                <th>Educación Fisica</th>
                                <th>40</th>
                                <th>60</th>
                                <th>100</th>
                                <th class="blue-text"><i class="material-icons">done</i></th>
                            </tr>
                            <tr>
                                <th>HTN-01</th>
                                <th>Historia de Nicaragua</th>
                                <th>35</th>
                                <th>40</th>
                                <th>75</th>
                                <th class="blue-text"><i class="material-icons">done</i></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>




