
@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4 class="center-align">Calificaciones</h4>
    <h6 class="center-align">Colegio Buen Samaritano</h6>
    <p class="center-align">Calificaciones correspondiente al I Semetres del año 2018</p>
    <table class="striped responsive-table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Materia</th>
                <th>Acumulado </th>
                <th>Examen</th>
                <th>Nota Final</th>
                <th>Docente</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>CCN-01</th>
                <th>Ciencias Naturales</th>
                <th>40</th>
                <th>40</th>
                <th>80</th>
                <th>Karla Balladares</th>
            </tr>
            <tr>
                <th>MTM-01</th>
                <th>Matemáticas</th>
                <th>40</th>
                <th>10</th>
                <th class="red-text">50</th>
                <th>William Ruiz</th>
            </tr>
            <tr>
                <th>ECF-01</th>
                <th>Educación Fisica</th>
                <th>40</th>
                <th>60</th>
                <th>100</th>
                <th>Sunilda Gaitán</th>
            </tr>
            <tr>
                <th>HTN-01</th>
                <th>Historia de Nicaragua</th>
                <th>35</th>
                <th>10</th>
                <th class="red-text">45</th>
                <th>Aura Abarca</th>
            </tr>
        </tbody>
    </table>
</div>